* {
    /* to ensure proper padding */
    box-sizing: border-box;
}

html {
    /* set a consisten font across the website */
    font-family: "Lucida Sans", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/* use . to refer to a class */
.header {
    background-color: darkgrey;
    color: white;
    padding: 15px;
    text-align: center;
}

/* using CSS grid as a base of our layout that was marked with containers */
.container {
    display: grid;
    /* single colum layout for mobile devices */
    grid-template-columns: 1 fr;
    grid-gap: 20px;
    padding: 15px;
}

/* refering to our navigation  menu */
.menu {
    background-color: rgb(50, 214, 187);
    padding: 15px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 8px;
    background-color: darkgray;
    color: white;
    text-align: center;
    box-shadow: 0 1px 3px lightgray, grey;
    border-radius: 3px;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu li a:hover {
    background-color: rgb(106, 239, 239);
    border-radius: 3px;
}

.main {
    background-color: rgb(248, 248, 248);
    padding: 15px;
}

/* styling for the right pane */
.aside {
    background-color: rgb(50, 214, 187);
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px lightgray, grey;
}

/* styling for the footer section */
.footer {
    background-color: darkgrey;
    color: white;
    padding: 15px;
    margin-top: 20px;
    text-align: center;
    font-size: 11px;
}

.responsive-img {
    width: 100%;
    height: auto;
    max-width: 200px;
    border-radius: 10px;
    aspect-ratio: 3 / 4;
}

/* styling for a mobile sizes */
@media only screen and (min-width: 700px) {
    .container {
        grid-template-columns: 1fr 2fr 1fr;
        /* using 3 layout colums */
    }

    .responsive-img {
        max-width: 680px;
        display: block;
        margin: 0 auto;

    }
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #6a93ea;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    color: white;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #757575;
}

input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"] { 
    width: 100%;
    padding: 12px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    font-size: 16px;
}

input:focus {
    border-color: #6200ea;
    outline: none;
}

.btn-submit {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: purple;
}

.social-media {
    text-align: center;
    margin-top: 30px;
}

.links {
    background-color: #32d6bb;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-top: 30px;
    border-radius: 10px;
}

.links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.links img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 10px;
}

.photo-row {
    display: flex;
    justify-content: center;
    margin: 10px 0; /* Jarak antar baris */
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0 5px; /* Jarak antar foto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}